.loginRegister {
  min-height: max(100vh, 500px);
  padding-top: 20px;
  background-color: #00000078;
}

.loginRegister::before {
  background: url("./homeBg.jpg") no-repeat center center/cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: max(100vh, 500px);
  z-index: -11;
}
