<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Click the link below to verify that you are the user</p>
    <a href="{{domain}}/api/v1/auth/registerself/{{token}}">Click Me</a>
    <p>USERNAME: {{userName}}</p>
    <p>EMAIL: {{email}}</p>
    <p>ROLL.NO: {{rollNo}}</p>
    <p>COURSE: {{course}}</p>
    <p>Password: {{password}}</p>
  </body>
</html>
